{% extends 'job/base.html' %}
{% block content %}
{% if 'Admin' in request.session.dash %}
  <div class="container" style="margin-top:10px;">
    <div class="row">
      <div class="col-md-9 col-centered">
        <form method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          <div class="input-group">
              <div class="col-sm-6">
              <select name="category_id" style="width:200px">
                <option  selected="selected" disabled="">Select Category:</option>
                    {% for value in cat %}
                          <option value="{{value.id}}">{{value}}</option>
                    {% endfor %}
              </select>
              </div>
              <input type="hidden" name="worker" value="{{ cust.id }}"/>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" style="margin-left: 10px">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
      <h2>You have no access to this page</h2>
  {% endif %}
{% endblock %}
