{% if request.session.logs %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trabazo</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'job/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'job/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'job/css/animate.min.css' %}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{% static 'job/css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'job/css/icheck/flat/green.css' %}" rel="stylesheet" />
  <link href="{% static 'job/css/floatexamples.css' %}" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="{% static 'job/js/jquery.min.js' %}"></script>
  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body class="nav-md">
  <div class="container body">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="/index" class="site_title"><i class="fa fa-paw"></i> <span>TRABAZO</span></a>
          </div>
          <!-- <div class="clearfix"></div> -->

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <a href="/profile"><img src="{{ request.session.profile}}" alt="..." class="img-circle profile_img" /></a>
            </div>
            <div class="profile_info">
              <span>Welcome,  </span> <font style="font-size:16px; font-weight:bold; color:#fff;">{{ request.session.logs }}</font>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <div class="clearfix"></div>
              <ul class="nav side-menu">
                {% if 'Customer' in request.session.dash %}
                <li><a href="{% url 'job:index' %}"><i class="fa fa-home"></i> Dashboard </a></li>
                <li><a href="{% url 'job:services' %}"><i class="fa fa-wrench" aria-hidden="true"></i>Services </a></li>
                <li><a href="{% url 'job:jobs' %}"> <i class="fa fa-gavel" aria-hidden="true"></i>Jobs </a></li>
                <li><a href="{% url 'job:approvel' %}"> <i class="fa fa-thumbs-up" aria-hidden="true"></i>Job Approvel </a></li>
                <li><a href="{% url 'job:updated_job' %}"><i class="fa fa-check-square-o" aria-hidden="true"></i>Report Approvel </a></li>
                <li><a href="{% url 'job:my_invoices' %}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Invoice </a></li>
                <li><a href="{% url 'job:query' %}"><i class="fa fa-question" aria-hidden="true"></i>My Queries </a></li>
                <li><a href="{% url 'job:feedback' %}"><i class="fa fa-commenting-o" aria-hidden="true"></i>Feedback </a></li>
                {% endif %}
                {% if 'Worker' in request.session.dash %}
                  <li><a href="{% url 'job:index' %}"><i class="fa fa-home"></i> Dashboard </a></li>
                  <li><a href="{% url 'job:my_job' %}"><i class="fa fa-edit"></i> Services </a></li>
                  <li><a href="{% url 'job:jobs_approvel' %}"><i class="fa fa-wrench" aria-hidden="true"></i> Approve jobs </a></li>
                  <li><a href="{% url 'job:all_jobs' %}"> <i class="fa fa-gavel" aria-hidden="true"></i>Jobs </a></li>
                  <li><a href="{% url 'job:feedback' %}"><i class="fa fa-edit"></i> Feedback </a></li>
                {% endif %}
                {% if 'Admin' in request.session.dash %}
                <li><a href="{% url 'job:index' %}"><i class="fa fa-home"></i> Dashboard </a></li>
                <li><a href="{% url 'job:service' %}"><i class="fa fa-edit"></i> Services </a></li>
                <li><a href="{% url 'job:job' %}"><i class="fa fa-edit"></i> Jobs </a></li>
                <li><a href="{% url 'job:admin_job_report' %}"><i class="fa fa-edit"></i> Job Reports </a></li>
                <li><a href="{% url 'job:categories' %}"><i class="fa fa-edit"></i> Categories </a></li>
                 <li><a href="{% url 'job:invoice' %}"><i class="fa fa-edit"></i> Invoice </a></li>
                <li><a href="{% url 'job:queries' %}"><i class="fa fa-edit"></i> Response to Query</a></li>
                <li><a href="{% url 'job:customer' %}"><i class="fa fa-edit"></i> Customer </a></li>
                <li><a href="{% url 'job:worker' %}"><i class="fa fa-edit"></i> Worker </a></li>
                <li><a href="{% url 'job:wishes_worker' %}"><i class="fa fa-edit"></i> Worker Requests</a></li>
                <li><a href="{% url 'job:feedback' %}"><i class="fa fa-commenting-o" aria-hidden="true"></i>Feedback </a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle" style="color:#fff; cursor:pointer;"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right" style="float: right;">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="" alt="">{{ request.session.logs }}
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li>
                    <a href="{% url 'job:profile'%}">  Profile</a>
                  </li>
                  <li>
                    <a href="{% url 'job:change_password'%}">Change Password</a>
                  </li>
                  <li>
                    <a href="{% url 'job:logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">{{all_notify.count}}</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                  {% for notify in all_notify %}
                  <li>
                    {% if 'Admin' in request.session.dash %}
                    <a href="{% url 'job:admin_read' notify.id %}">
                      <span class="image">
                        <img src="{{ notify.sender.profile_pic.url }}" style="width:25px;height:25px"/>
                      </span>
                      <span>
                        <span></span>
                      </span>
                      <span class="message">
                        {{notify.message}}
                      </span>
                    </a>
                    {% endif %}
                    {% if 'Customer' in request.session.dash %}
                    <a href="{% url 'job:customer_read' notify.id %}">
                      <span class="image">
                        <img src="{{ notify.sender.profile_pic.url }}" style="width:25px;height:25px"/>
                      </span>
                      <span>
                        <span></span>
                      </span>
                      <span class="message">
                        {{notify.message}}
                      </span>
                    </a>
                    {% endif %}
                    {% if 'Worker' in request.session.dash %}
                    <a href="{% url 'job:worker_read' notify.id %}" style="display: inline-block; vertical-align: top;">
                      <span class="image">
                        <img src="{{ notify.customer_id.profile_pic.url }}" style="width:25px;height:25px"/>
                      </span>
                      <span>
                        <span></span>
                      </span>
                      <span class="message">
                        <h6 style="margin: 0; padding: 0; line-height:25px">You just got a job</h6>
                      </span>
                    </a>
                    {% endif %}
                  </li>
                  {% endfor %}
                  <li>
                    <div class="text-center">
                      <a href="{% url 'job:notifications' %}" style="color:#23527c;">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
      {% block content %}

      {% endblock %}
      </div>
      <!-- /page content -->
  </div>

  <script src="{% static 'job/js/bootstrap.min.js' %}"></script>
  <!-- bootstrap progress js -->
  <script src="{% static 'job/js/custom.js' %}"></script>
  <script src="{% static 'job/js/progressbar/bootstrap-progressbar.min.js' %}"></script>
  <script src="{% static 'job/js/nicescroll/jquery.nicescroll.min.js' %}"></script>


  <!-- Datetime picker javascript starts -->
  <script type="text/javascript" src="{% static 'job/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
  <script type="text/javascript">

  setInterval(function(){
    if($(document).width() > 991) {
      if ($('#menu_toggle i').hasClass('fa-bars')) {
          return;
      }
      else {
        $('.fa-times-circle').removeClass("fa-times-circle").addClass('fa-bars');
      }
    }
  }, 100);

      $('.form_datetime').datetimepicker({
          //language:  'fr',
          weekStart: 1,
          todayBtn:  1,
  		autoclose: 1,
  		todayHighlight: 1,
  		startView: 2,
  		forceParse: 0,
          showMeridian: 1
      });
  	$('.form_date').datetimepicker({
          language:  'fr',
          weekStart: 1,
          todayBtn:  1,
  		autoclose: 1,
  		todayHighlight: 1,
  		startView: 2,
  		minView: 2,
  		forceParse: 0
      });
  	$('.form_time').datetimepicker({
          language:  'fr',
          weekStart: 1,
          todayBtn:  1,
  		autoclose: 1,
  		todayHighlight: 1,
  		startView: 1,
  		minView: 0,
  		maxView: 1,
  		forceParse: 0
      });
  </script>
  <!-- Datetime picker javascript ends -->

  <div id="overlay">
    <div class="spinner">
      <img src="{% static 'job/images/loading.gif' %}" />
      </div>
  </div>
  <script>
    var over = document.getElementById("overlay");
    window.onload=function(){
      $( ".x_panel .row .col-sm-12" ).removeClass( "col-sm-12" ).addClass( "table-responsive" );
      setTimeout( function(){
        over.style.display = 'none';
      }, 1000 );
    }
  </script>
</body>
</html>
{% else %}
  <h2>You have no access to this page</h2>
{% endif %}
