{% extends 'job/base.html' %}
{% block content %}
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<div class="container" style="width:50%;">
    <div class="card card-container">
      <h3 style="text-align:center;">Password Reset</h3>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} style="list-style-type:none;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="New Password" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="change_password" type="submit">Submit</button>
        
      </form>
      <input id="result" type="hidden" value="{{message}}" />
   </div>
  </div>
  <script type="text/javascript">
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        getCookie(settings);
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      }
    });

    $("#change_password").on("click", function(e) {
      e.preventDefault();

      $.ajax({
        url: '/change_password/',
        type:'POST',
        data: {
          'password' : $("#password").val(),
          'confirm_password' : $("#confirm_password").val(),
          'csrfmiddlewaretoken' : getCookie('csrftoken')
        },
        success: function(data) { 
          var ab = $('.container').html();
          $('.container').html(data);
          var a=$("#result").val();
          $('.container').html(ab);
          if(a!='Your password has been Successfully changed')
          {
            toastr.error(a, 'Error', {timeOut: 5000});
          }
          else
          {
            toastr.success(a, 'Success', {timeOut: 5000}); 
          }
        }
      })
    });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  };

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% endblock %}