{% if 'Admin' in request.session.dash %}
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} style="list-style-type:none;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% else %}
			<form method="post" id="create_job_form" enctype="multipart/form-data" action="">
				{% csrf_token %}
					<div class="form-group">
						<label class="control-label col-sm-4" for="worker">Worker : </label>
						<select name="worker_id" id="worker_id" style="width:200px">
							<option  selected="selected" disabled="">Select Worker:</option>
							{% for value in all_workers %}
								<option value="{{value.id}}">{{value}}</option>
							{% endfor %}
						</select>
			    </div>
			    <div><input type="hidden" name="customer_id" id="customer_id" value="{{all_customers.id}}" /></div>
			    <div><input type="hidden" name="service_id" id="service_id" value="{{all_services.id}}" /></div>
			    <div><input type="hidden" name="Estimate_id" id="Estimate_id" value="{{all_estimate.id}}" /></div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="start_time">Start Time : </label>
						<input type="date" id="job_start_datetime" style="width:200px" name="job_start_datetime" value="" />
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="description">Description : </label>
			      <textarea style="resize: none;" id="job_description" class="form-control" rows="3" name="job_description" placeholder="Enter Job Description"></textarea>
			    </div>
					<div><input type="hidden" name="location" id="location" value="{{location}}" /></div>
			    <div><button type="submit" id="create_job" class="btn btn-primary" >submit</button></div>
			</form>
			<div id="result">Job has been created Successfully.</div>
			<script type="text/javascript">
					$('#result').hide();
					$.ajaxSetup({
			    	beforeSend: function(xhr, settings) {
			      	getCookie(settings);
			      	xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			    	}
			  	});

					$("#create_job").on("click", function(e) {
						e.preventDefault();
						$.ajax({
							url: '/'+ new_job_id +'/newjob/',
							type:'POST',
							data: {
								'worker_id' : $("#worker_id").val(),
								'customer_id' : $("#customer_id").val(),
								'service_id' : $("#service_id").val(),
	4							'Estimate_id' : $("#Estimate_id").val(),
								'job_start_datetime' : $("#job_start_datetime").val(),
								'job_description' : $("#job_description").val(),
								'location' : $("#location").val(),
								'csrfmiddlewaretoken' : getCookie('csrftoken')
							},
							success: function() {
								$('#create_job_form').hide();
								$('#result').show("slow");
							}
						})
						console.log("working");
					});

				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							// Does this cookie string begin with the name we want?
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				};

			</script>
		{% endif %}
{% else %}
			<h2>You have no access to this page</h2>
{% endif %}
