{% extends 'job/base.html' %}

{% block content %}
{% if 'Admin' in request.session.dash %}
<form method="post" enctype="multipart/form-data" action="">
	{% csrf_token %}
	<div class="row">
		<div class="col-sm-2">{{form.worker_id.label_tag}}</div>
		<div class="col-sm-6">
				<select name="worker_id" style="width:200px">
    					<option  selected="selected" disabled="">Select Worker:</option>
    					{% for value in all_workers %}
    						<option value="{{value.id}}">{{value}}</option>
    					{% endfor %}
  				</select>

		</div>
    </div>
    <div><input type="hidden" name="customer_id" value="{{all_customers.id}}" /></div>
    <div><input type="hidden" name="service_id" value="{{all_services.id}}" /></div>
    <div><input type="hidden" name="Estimate_id" value="{{all_estimate.id}}" /></div>
    <div class="row">
		<div class="col-sm-2">{{form.job_start_datetime.label_tag}}</div>
		<div class="col-sm-6"><input type="date" style="width:200px"  name="job_start_datetime" value="" /></div>
    </div>
    <div class="row">
		<div class="col-sm-2">{{form.job_description.label_tag}}</div>
		<div class="col-sm-10">
			<div class="input-group">
              <textarea style="resize: none;" class="form-control custom-control" rows="3"  cols="90" name="job_description" placeholder="Enter Job Description">

              </textarea>
            </div>
    </div>
    <div class="row">
		<div class="col-sm-6"><input type="hidden" name="location" value="{{location}}" /></div>
    </div>
    <div><button type="submit" class="btn btn-primary" style="margin-left:185px">submit</button></div>
</form>
{% else %}
			<h2>You have no access to this page</h2>
{% endif %}
{% endblock %}
