{% if 'Admin' in request.session.dash %}

{% load static %}
<!-- Datetime picker css starts -->
<link href="{% static 'job/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Datetime picker css ends -->

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} style="list-style-type:none;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% else %}
			<form method="post" id="create_job_form" enctype="multipart/form-data" action="">
				{% csrf_token %}
					<div class="form-group">
						<label class="control-label col-sm-4" for="worker">Worker : </label>
						<select name="worker_id" id="worker_id" style="width:200px">
							<option  selected="selected" disabled="">Select Worker:</option>
							{% for value in all_workers %}
								{% if not value.worker.wish_to_be_worker %}
								<option value="{{value.id}}">{{value}}</option>
								{% endif %}
							{% endfor %}
						</select>
			    </div>
					<div><input type="hidden" name="customer_id" id="customer_id" value="{{all_customers.id}}" /></div>
			    <div><input type="hidden" name="service_id" id="service_id" value="{{all_services.id}}" /></div>
			    <div><input type="hidden" name="Estimate_id" id="Estimate_id" value="{{all_estimate.id}}" /></div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="job_start_datetime">Start Time : </label>
						<div class="input-group date form_datetime col-md-5" data-date="2017-03-15T05:25:07Z" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input1">
							<input class="form-control" size="16" id="job_start_datetime" type="text" name="job_start_datetime" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="description">Description : </label>
			      <textarea style="resize: none;" id="job_description" class="form-control" rows="3" name="job_description" placeholder="Enter Job Description"></textarea>
			    </div>
					<div><input type="hidden" name="location" id="location" value="{{location}}" /></div>
			    <div><button type="submit" id="create_job" class="btn btn-primary" >submit</button></div>
					<input id="result" type="hidden" value="{{message}}" />
					<div class="result" id="{{message}}">{{message}}</div>
			</form>
			<script type="text/javascript">
					$.ajaxSetup({
			    	beforeSend: function(xhr, settings) {
			      	getCookie(settings);
			      	xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			    	}
			  	});

					$("#create_job").on("click", function(e) {
						e.preventDefault();
						$.ajax({
							url: '/'+ new_job_id +'/newjob/',
							type:'POST',
							data: {
								'worker_id' : $("#worker_id").val(),
								'customer_id' : $("#customer_id").val(),
								'service_id' : $("#service_id").val(),
								'Estimate_id' : $("#Estimate_id").val(),
								'job_start_datetime' : $("#job_start_datetime").val(),
								'job_description' : $("#job_description").val(),
								'location' : $("#location").val(),
								'csrfmiddlewaretoken' : getCookie('csrftoken')
							},
							success: function(data) {
								currServiceObject = $("#"+$("#service_id").val());
								$("#create_job_form").replaceWith(data);
								var a=$("#result").val();
								if(a=="Data Stored Successfully.")
								{
									$('#view_result_data').modal('toggle');
									currServiceObject.closest('tr').remove();
									toastr.success(a, 'Success', {timeOut: 5000});
								}
							},
						})
					});

				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							// Does this cookie string begin with the name we want?
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				};
			</script>

			<!-- Datetime picker javascript starts -->
			<script type="text/javascript" src="{% static 'job/js/bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>
			<script type="text/javascript" src="{% static 'job/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
			<script type="text/javascript">
					$('.form_datetime').datetimepicker({
							//language:  'fr',
							weekStart: 1,
							todayBtn:  1,
							autoclose: 1,
							todayHighlight: 1,
							startView: 2,
							forceParse: 0,
							showMeridian: 1
					});
				$('.form_date').datetimepicker({
							language:  'fr',
							weekStart: 1,
							todayBtn:  1,
							autoclose: 1,
							todayHighlight: 1,
							startView: 2,
							minView: 2,
							forceParse: 0
					});
				$('.form_time').datetimepicker({
							language:  'fr',
							weekStart: 1,
							todayBtn:  1,
							autoclose: 1,
							todayHighlight: 1,
							startView: 1,
							minView: 0,
							maxView: 1,
							forceParse: 0
					});
			</script>
			<!-- Datetime picker javascript ends -->

		{% endif %}
{% else %}
			<h2>You have no access to this page</h2>
{% endif %}
