{% if 'Admin' in request.session.dash %}
{% load static %}
	<div class="table-responsive">
		<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
			<tbody>
				<tr>
						<th>Customer Name</th>
						<td scope="row">{{ customer.first_name }} {{ customer.last_name }}</td>
				</tr>
				<tr>
						<th>Address</th>
						<td>{{ customer.address }}</td>
				</tr>
				<tr>
						<th>Contact Number</th>
						<td>{{ customer.mobile_number }}</td>
				</tr>
				<tr>
						<th>Email</th>
						<td>{{ customer.email }}</td>
				</tr>
				<tr>
						<th>Registration Date</th>
						<td>{{ customer.Reg_date }}</td>
				</tr>
			</tbody>
		</table>

		<h3>Jobs: </h3>

		<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Job Started</th>
					<th>Job Ended</th>
					<th>Location</th>
					<th>Description</th>
					<th>Status</th>
					<th>Worker</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody style="text-align:center;">
				{% if all_jobs %}
					{% for job in all_jobs %}
					<tr>
						<td scope="row">{{ job.job_start_datetime }}</td>
						<td>{{ job.job_end_datetime }}</td>
						<td>{{ job.location }}</td>
						<td>{{ job.job_description }}</td>
						<td>{{ job.job_status }}</td>
						<td>{{ job.worker_id }}</td>
						<td>{{ job.Estimate_id.total_cost }}</td>
					</tr>
					{% endfor %}
				{% else %}
				<tr>
					<td colspan="2">
						No Record Found.
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

		<h3>Query: </h3>

		<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Query Date</th>
					<th>Query Description</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody style="text-align:center;">
				{% if all_queries %}
					{% for q in all_queries %}
					<tr>
						<td>{{ q.query_dateTime }}</td>
						<td>{{ q.query_description }}</td>
						{% if 'completed' in q.status %}
							<td style="color:green">{{q.status}}</td>
						{% else %}
							<td style="color:red">{{q.status}}</td>
						{% endif %}
					</tr>
					{% endfor %}
				{% else %}
				<tr>
					<td colspan="2" style="text-align:center;">
						No Record Found.
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

	</div>
{% else %}
		<h2>You have no access to this page</h2>
{% endif %}
