{% if 'Customer' in request.session.dash %}
<form method="post" id="service_form" enctype="multipart/form-data" action="">
  {% csrf_token %}
  <div class="input-group">
      <textarea style="resize: none;" class="form-control custom-control" rows="5" cols="70" id="service_request" name="service_request" placeholder="Describe your problem" required="">{{last_service.service_request}}</textarea>
  </div>
  <div class="input-group">
      <input type="hidden" name="customer_id" id="customer_id" value="{{ cust }}"/>
  </div>
  <div class="form-group">
    <div class="col-sm-12" style="margin-top:5px;">
      <button type="submit" id="submit_service" class="btn btn-primary">Submit</button>
    </div>
  </div>
  <input id="result" type="hidden" value="{{message}}" />
  <div class="result" id="{{message}}">{{message}}</div>
</form>

<script type="text/javascript">
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        getCookie(settings);
        xhr.setRequestHeader("XS-CSRFToken", getCookie('csrftoken'));
      }
    });

		$("#submit_service").on("click", function(e) {
			e.preventDefault();
			$.ajax({
				url: '/createservices/',
				type:'POST',
				data: {
					'service_request' : $("#service_request").val(),
					'customer_id' : $("#customer_id").val(),
					'csrfmiddlewaretoken' : getCookie('csrftoken')
				},
				success: function(data) {
          currServiceObject = $('#datatable-responsive tbody');
          console.log('---->',data);
          service_request = '{{last_service.service_request}}'
          service_datetime = '{{last_service.service_dateTime}}'
          $('#service_form').replaceWith(data);
          var a=$("#result").val();
          // if(a!="service is not submitted.")
          // {
          //   $('#view_result_data').modal('toggle');
          //   currServiceObject.append('<tr><td class="sorting_1" scope="row" tabindex="0">Feb. 22, 2017, 4 p.m.</td><td>my tv is not working properly</td><td>Created</td></tr>');
          //   toastr.success(a, 'Success', {timeOut: 5000});
          // }
				}
			})
			console.log("working");
		});

	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	};

</script>

{% else %}
    <h2>You have no access to this page</h2>
{% endif %}
