{% block content %}
{% if 'Customer' in request.session.dash %}
  <div class="container" id="query_form" style="margin-top:10px; background:#fff;">
    <div class="row">
      <div class="col-md-9 col-centered">
        <form method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          <div class="input-group">
              <textarea style="resize: none;" class="form-control custom-control" rows="6"  cols="90" id="query_description" name="query_description" placeholder="Enter your Query" required=""></textarea>
              <input type="hidden" id="customer_id" name="customer_id" value="{{ cust }}"/>
          </div>
          <div>
            <button type="submit" id="query_submit" class="btn btn-primary">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="result">Data Stored Successfully.</div>
  <script type="text/javascript">
  		$('#result').hide();
  		$.ajaxSetup({
      	beforeSend: function(xhr, settings) {
        	getCookie(settings);
        	xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      	}
    	});

  		$("#query_submit").on("click", function(e) {
  			e.preventDefault();
  			$.ajax({
  				url: '/custquery/',
  				type:'POST',
  				data: {
  					'customer_id' : $("#customer_id").val(),
  					'query_description' : $("#query_description").val(),
  					'csrfmiddlewaretoken' : getCookie('csrftoken')
  				},
  				success: function() {
  					$('#query_form').hide();
  					$('#result').show("slow");
  				}
  			})
  			console.log("working");
  		});

  	function getCookie(name) {
  		var cookieValue = null;
  		if (document.cookie && document.cookie != '') {
  			var cookies = document.cookie.split(';');
  			for (var i = 0; i < cookies.length; i++) {
  				var cookie = jQuery.trim(cookies[i]);
  				// Does this cookie string begin with the name we want?
  				if (cookie.substring(0, name.length + 1) == (name + '=')) {
  					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
  					break;
  				}
  			}
  		}
  		return cookieValue;
  	};

  </script>

  {% else %}
      <h2>You have no access to this page</h2>
  {% endif %}
{% endblock %}
