{% block content %}
{% if 'Customer' in request.session.dash %}
  <form method="post" id="query_form" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div class="input-group">
        <textarea style="resize: none;" class="form-control custom-control" rows="6"  cols="90" id="query_description" name="query_description" placeholder="Enter your Query" required=""></textarea>
        <input type="hidden" id="customer_id" name="customer_id" value="{{ cust }}"/>
    </div>
    <div>
      <button type="submit" id="query_submit" class="btn btn-primary">submit</button>
    </div>
    <input id="date" type="hidden" value="{{last_service.query_dateTime}}" />
    <input id="description" type="hidden" value="{{last_service.query_description}}" />
    <input id="result" type="hidden" value="{{message}}" />
		<div class="result" id="{{message}}">{{message}}</div>
  </form>
  <script type="text/javascript">
  		$.ajaxSetup({
      	beforeSend: function(xhr, settings) {
        	getCookie(settings);
        	xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      	}
    	});

  		$("#query_submit").on("click", function(e) {
  			e.preventDefault();
  			$.ajax({
  				url: '/custquery/',
  				type:'POST',
  				data: {
  					'customer_id' : $("#customer_id").val(),
  					'query_description' : $("#query_description").val(),
  					'csrfmiddlewaretoken' : getCookie('csrftoken')
  				},
  				success: function(data) {
            currQueryObject = $('#datatable-responsive tbody');
            $('#query_form').replaceWith(data);
            var a=$("#result").val();
            var date=$("#date").val();
            var description=$("#description").val();
            if(a=="Query has been stored Successfully.")
            {
              $('#view_result_data').modal('toggle');
              currQueryObject.append('<tr><td class="sorting_1" scope="row" tabindex="0">'+date+'</td><td>'+description+'</td><td>Pending</td></tr>');
              toastr.success(a, 'Success', {timeOut: 5000});
            }
  				}
  			})
  			console.log("working");
  		});

  	function getCookie(name) {
  		var cookieValue = null;
  		if (document.cookie && document.cookie != '') {
  			var cookies = document.cookie.split(';');
  			for (var i = 0; i < cookies.length; i++) {
  				var cookie = jQuery.trim(cookies[i]);
  				// Does this cookie string begin with the name we want?
  				if (cookie.substring(0, name.length + 1) == (name + '=')) {
  					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
  					break;
  				}
  			}
  		}
  		return cookieValue;
  	};

  </script>

  {% else %}
      <h2>You have no access to this page</h2>
  {% endif %}
{% endblock %}
