{% block content %}
{% if 'Worker' in request.session.dash %}
<form method="post" id="report_job_form" enctype="multipart/form-data" action="">
  {% csrf_token %}
  <div class="input-group">
    <textarea style="resize: none;" id="job_report" class="form-control custom-control" rows="4"  cols="90" name="job_report" placeholder="Enter Report">{{ job_report }}</textarea>
  </div>
  <div>
    <button type="submit" id="report_job" class="btn btn-primary">submit</button>
  </div>
</form>
<div id="result"></div>

    <script type="text/javascript">
    		$('#result').hide();
    		$.ajaxSetup({
        	beforeSend: function(xhr, settings) {
          	getCookie(settings);
          	xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        	}
      	});

    		$("#report_job").on("click", function(e) {
    			e.preventDefault();
    			$.ajax({
    				url: '/'+ job_id +'/report_job/',
    				type:'POST',
    				data: {
    					'job_report' : $("#job_report").val(),
    					'csrfmiddlewaretoken' : getCookie('csrftoken')
    				},
    				success: function() {
    					$('#report_job_form').hide();
    					$('#result').show("slow");
              $('#result').html(data);
    				}
    			})
    			console.log("working");
    		});

    	function getCookie(name) {
    		var cookieValue = null;
    		if (document.cookie && document.cookie != '') {
    			var cookies = document.cookie.split(';');
    			for (var i = 0; i < cookies.length; i++) {
    				var cookie = jQuery.trim(cookies[i]);
    				// Does this cookie string begin with the name we want?
    				if (cookie.substring(0, name.length + 1) == (name + '=')) {
    					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    					break;
    				}
    			}
    		}
    		return cookieValue;
    	};

    </script>
  {% else %}
      <h2>You have no access to this page</h2>
  {% endif %}
{% endblock %}
