{% if 'Admin' in request.session.dash %}
<form method="post" enctype="multipart/form-data" action="">
	{% csrf_token %}
	<div><input type="hidden" name="id" value="{{queries.id}}" /></div>
    <div><input type="hidden" name="customer_id" value="{{all_customers.id}}" /></div>
     <div><input type="hidden" name="status" value="completed" /></div>


		 <div class="form-group">
			 <label class="control-label col-sm-4" for="visit_charge">Enter Response : </label>
			 <textarea style="resize: none;" class="form-control custom-control" rows="3"  cols="90" name="query_response" placeholder="Enter Job Description"></textarea>
     </div>
		 <button type="submit" class="btn btn-primary" style="margin-left: 10px">submit</button>
</form>
{% else %}
			<h2>You have no access to this page</h2>
{% endif %}
